footer {
    height: 60px;
    background-color: white;
    width: 100%;
    bottom: 0;
    left: 0;
    border-top: 1px solid #CCCCCC;
    align-items: center;
    justify-content: center;
    margin: auto auto 0 auto;
    position: fixed;
}

footer p {
    text-align: center;
    padding: 6px;
}